header{
	background-color: #00AAFF;
}

h1{
	color: #AABBDD;
	text-align: center;
	text-ptransform: uppercase;
}
aside{
	display: none;
}
h2{
	text-transform: uppercase;
	color: #CC00FF;
}
section{
	background-color: #00FF55;
}

a{
	background-color: #AABBFF;
	color: #FFF333;
}
