body{
	padding: 20px;
	margin: 5px;
	font-size: 120%;
}
header{
	background-color: #00AAFF;
	background-image: url("../images/flywheel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 170px;
	padding-top: 10px;
}

h1{
	color: #FFF3FF;
	text-align: center;
	font-size: 120%;
	text-transform: uppercase;
}

h2{
	
	color: #000000;
}
section{
	background-color: #00FF55;
}
nav a{
	display: inline-block;
	width: 200px;
	background-color: #FFF3FF;
	color: #000000;
	padding: 20px;
	margin: 20px;
	text-align: center;
	text-decoration: none;
	opacity: 0.4;
	font-weight: bold;
	border-radius: 7px;
	-webkit-border-radius:7px;
    -moz-border-radius:7px;
    -o-border-radius:7px;
}
.active{
	color: 	#00008B;
	opacity: 1;
}
.left, .right{
    float: left;
}
.left{
    background-color:#999900;
    padding: 1%;
    align-items: center; 
    width: 270px;
}
.right{
    width: 74%;
    padding-left: 2%;
    background-color: transparent;
}
img{
    width: 200px;
    margin: 30px;
    border: solid 2px rgb(1,1,1);    
}
